<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClientService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--client:服务端webservice路径-->
    <add key="MobileClientUrl" value="../Background/Ultimus_MobileServices.asmx" />
    <!--server:模板文件-->
    <add key="TemplateName" value="Template\ProcessForm.cshtml" />
    <!--client:页面生成路径-->
    <add key="CreatePagePath" value="../Web/ProcessPage" />
    <!--server:客户端域名-->
    <add key="ClientName" value="MobileClient" />
    <!--server:上传的Logo图片类型限制-->
    <add key="LoGoFileType" value="jpg,png,gif" />
    <!--server:密码的验证方式w2或者ultimus-->
    <add key="PassAuth" value="ultimus" />
    <add key="AttachmentPath" value="http://10.110.26.72:8080/File/"/>
    <!--默认访问地址-->
    <add key="DefaultUrl" value="http://10.110.26.72:8080/SSOLogin.aspx?1=1" />
    <!--默认查看邮件-->
    <add key="DefaultEmailPath" value="&lt;a href='PATH'&gt;打开链接查看 &lt;/a&gt;"/>
    <!--域名-->
    <add key="Domain" value="quanyou.com.cn" />
    <!--根目录-->
    <add key="RootPath" value="http://localhost:4706/" />
  </appSettings>
  <connectionStrings>
    <add name="BizDB" connectionString="Data Source=.;Initial Catalog=UltimusBiz;User ID=sa;Password=qazwsx!23;" providerName="System.Data.SqlClient" />
	  <add name="UltDB" connectionString="Data Source=.;Initial Catalog=UltimusServer;User ID=sa;Password=qazwsx!23;" providerName="System.Data.SqlClient" />
	  <add name="StdDB" connectionString="Data Source=.;Initial Catalog=HSJC;User ID=sa;Password=qazwsx!23;" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<customErrors mode="Off" />
		<sessionState timeout="99999"></sessionState>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<authentication mode="Windows" />
		<pages maintainScrollPositionOnPostBack="true" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="bpm_admin@gc.omron.com">
        <network host="10.110.26.35" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
	
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="login.aspx" />
			</files>
		</defaultDocument>
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=EmulateIE8" />
            </customHeaders>
        </httpProtocol>
	</system.webServer>
 <applicationSettings>
   <ClientService.Properties.Settings>
     <setting name="ClientService_WorkflowSrv_EIKService" serializeAs="String">
       <value>http://localhost:9999/Service/MobileService.asmx</value>
     </setting>
   </ClientService.Properties.Settings>
 </applicationSettings>
</configuration>
