<?xml version="1.0"?>
<configuration>
	<connectionStrings>
    <clear/>
    <add name="BizDB" connectionString="Data Source=demo.ultimus.com.cn;Initial Catalog=UltimusBiz;User ID=sa;Password=qazwsx!23;"/>
	</connectionStrings>
	<system.web> 
		<compilation debug="true"/>
  </system.web>
</configuration>
  