<?xml version="1.0"?>
<configuration>
	<connectionStrings>
    <!--<add name="StaticSapCon1" connectionString="AppServerHost=10.138.250.142;Client=280;Password=Z6anp78r;SystemNumber=00;UserName=Y_BPMIPRO_02;Language=EN" />-->
    <add name="StaticSapCon1" connectionString="AppServerHost=172.16.251.225;Client=900;Password=006235;SystemNumber=00;UserName=zhangxh;Language=en"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
