<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    
  </configSections>
  <appSettings>
   
    <add key="connConfigPath" value="C:\cnnQuanYou.txt" />
    <add key="DataBaseType" value="SQL" />
    <add key="ReportConfigPath" value="C:\\cnnQuanYou.txt" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true"/>
  </system.web>

</configuration>