<?xml version="1.0"?>
<configuration>
  <components>
    <component id="dbauth" service="Ultimus.UWF.Security.Interface.IAuthentication,Ultimus.UWF.Security" 
                         type="Ultimus.UWF.Security.Implementation.DatabaseAuthentication, Ultimus.UWF.Security" />
    
  </components>
</configuration>