<?xml version="1.0"?>
<configuration>
    <components>
        <component id="ultauth" service="Ultimus.UWF.Security.Interface.IAuthentication,Ultimus.UWF.Security"
                             type="Ultimus.UWF.Security.V7.Implementation.UltimusAuthentication, Ultimus.UWF.Security.V7" />

    </components>
</configuration>