<?xml version="1.0"?>
<configuration>
  <components>
    <component id="ultauth" service="Ultimus.UWF.Security.Interface.IAuthentication,Ultimus.UWF.Security" 
                         type="Ultimus.UWF.V8.Implementation.UltimusAuthentication, Ultimus.UWF.V8" />
    
  </components>
</configuration>