.div_default_condition
        {
            width: 100%;
        }
        .div_default_field
        {
            float: left;
            margin-left: 10px;
            width: 220px;
        }
        .div_default_field div
        {
            width: 100px;
            float: left;
        }
        .div_default_field input
        {
            width: 100px;
        }
        .bluebuttoncss
        {
            font-family: "tahoma" , "宋体";
            font-size: 9pt;
            color: #003366;
            border: 0px #93bee2 solid;
            border-bottom: #93bee2 1px solid;
            border-left: #93bee2 1px solid;
            border-right: #93bee2 1px solid;
            border-top: #93bee2 1px solid;
            background-color: #E4EEFB;
            padding: 2px;
            cursor: hand;
            font-style: normal;
            
        }
        body, select, option, td, th, input
        {
            font-size: 12px;
            font-family: 微软雅黑,宋体;
        }
        .fr
        {
            float: right;
        }
        .divHead
        {
            width: 100%;
            margin: 10px auto;
            text-align: center;
        }
        table
        {
            border-collapse: collapse;
            border-color:#ccc;
            margin-top:8px;
        }
        table td
        {
            border-color:#ccc;}
         table th
         {
             border-color:#ccc;
             background-color:#F2F4F6;
         }
