<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="UltimusPath" value="C:\Program Files (x86)\Ultimus Adaptive BPM Suite 8.4"/>
  </appSettings>
	<connectionStrings>
		<add name="BizDB" connectionString="Data Source=demo.ultimus.com.cn;Initial Catalog=UltimusBiz;User ID=sa;Password=qazwsx!23;"/>
		<add name="UltDB" connectionString="Data Source=demo.ultimus.com.cn;Initial Catalog=UltimusServer;User ID=sa;Password=qazwsx!23;"/>
	</connectionStrings>
	 
</configuration>
