<?xml version="1.0"?>
<configuration>
  <components>
    <component id="dbcategory" service="Ultimus.UWF.Workflow.Interface.IProcessCategory,Ultimus.UWF.Workflow"
                        type="Ultimus.UWF.Workflow.Implementation.DatabaseCategoryLogic, Ultimus.UWF.Workflow" />
  </components>
</configuration>